@media (max-width:600px){


#nav ul li{
    
    float: none;
    width:145%;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid white;
    
}
#nav ul {
    margin: 0px;
}
#nav{
    height:60%;
    
}

iframe{
    width: 50%;
    height: 50%;
}


}

@media (max-width:754px){
    #aside{
        float: none;
        width: 80%;
        margin: 0px auto;
    }
    
    section{
        float: none;
        margin: 0px auto;
        width: 80%;
    }

    #about .icon-github,
    #about a{
        display: none;
        background-color: rebeccapurple;
    }
    iframe{
        width: 50%;
        height: 50%;
    }
    
}


@media (max-width:1186px){
    iframe{
        width: 50%;
        height: 50%;
    }
}