@media (max-width:600px){


#nav ul li{
    
    float: none;
    width:145%;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid white;
    
}
#nav ul {
    margin: 0px;
}
#nav{
    height:60%;
    
}
}